body {
    text-align: center;
    color: white;
    background: url("lego.jpg") ;
    font-family: Arial;  
    user-select: none; 
    margin: unset;
}

nav {
    background-color: rgba(0,250,0,0.5);
}

nav > ul {  
    max-width: 360px;
    padding:unset;
    margin: auto;
}

li {
    display: inline-block;
    padding: 15px;   
}

li>a {
    color: white;
    text-decoration: none;
}

p { 
    display: inline-block;
    width: 100%;
    max-width: 500px;
    font-size: 32px;
}

img { 
    max-height: 300px; 
    border-radius: 50%;
    margin: 10px;    
}

@media screen and (max-width: 480px) {
    img {  
        max-height: 300px; 

    }
    p { 
        max-width: 300px;
        font-size: 24px;
    }
}