body {
    text-align: center;
    color: white;
    background: url("lego.jpg") ;
    font-family: Arial;  
    user-select: none; 
    margin: unset;
}

p {
    background: #2d2d2f;
    display: inline-block;
    width: 100%;
    max-width: 500px;
    font-size: 1rem;
}


h1,h2,h3,h4,h5 {
    padding: 20px;
    text-transform:uppercase;}


h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

nav {
    display: none;
    background-color: rgba(0,250,0,0.5);
}

nav > ul {  
    max-width: 360px;
    padding:unset;
    margin: auto;
}

li {
    display: inline-block;
    padding: 15px;   
}

li>a {
    color: white;
    text-decoration: none;
}



.big-circle-image { 
    max-height: 300px; 
    border-radius: 50%;
    margin: 10px;    
}

.domains-block {
    background: white;
    color: #8e8e93;
}

.domains-block p {
    color:  #2d2d2f;
    background: white;
}

.domain-images {
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.domain-images img {
    max-width: 200px;
    padding: 10px;
    margin: auto;
    opacity: 0.8;
}

@media screen and (max-width: 480px) {
    img {  
        max-height: 300px; 

    }
    p { 
        max-width: 300px;
        font-size: 24px;
    }
}